<form data-cm-url="<%= issues_context_menu_path %>">
  <table class="list issues">
	<tr class="issue hascontextmenu" id="short_cut_menu-">
	  <td class="subject" style="width: 0%; display: none;"><%= check_box_tag("ids[]", @issue.id, false, :id => nil) %></td>
	  <td class="due_date" style="width: 100%;">&nbsp;</td>
	</tr>
  </table>
  <%- if User.current.pref.redmine_more_context_redirect_on_submit.present? %>
    <%= hidden_field_tag 'back_url', User.current.pref.redmine_more_context_redirect_on_submit %>
  <%- end %>
</form>
<%= context_menu %>
